{% load static %}
<header class="top_panel_wrap top_panel_style_4 scheme_original">
	<div class="top_panel_wrap_inner top_panel_inner_style_4 top_panel_position_above">
		<div class="top_panel_top">
			<div class="content_wrap clearfix">
				<div class="top_panel_top_contact_area">
					Contact us on 0 800 123-4567 or
					<a href="contacts.html">support@themerex.net</a>
				</div>
				<div class="top_panel_top_user_area">
					<ul class="menu_user_nav" id="menu_user">
						<li class="menu_user_register">
							<a class="popup_link popup_register_link icon-edit27 inited" href="#popup_registration">Register</a>
						</li>
						<li class="menu_user_login">
							<a class="popup_link popup_login_link icon-lock29 inited" href="#popup_login">Login</a>
						</li>
						<li class="menu_user_cart">
							<a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
								<span class="contact_icon icon-basket"></span>
								<span class="contact_label contact_cart_label">Your cart:</span>
								<span class="contact_cart_totals">
									<span class="cart_items">0 Items</span> -
									<span class="cart_summa">&#36;0.00</span>
								</span>
							</a>
							<ul class="widget_area sidebar_cart sidebar">
								<li>
									<div class="widget woocommerce widget_shopping_cart">
										<div class="hide_cart_widget_if_empty">
											<div class="widget_shopping_cart_content">
												<ul class="cart_list product_list_widget ">
													<li class="empty">No products in the cart.</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="top_panel_middle">
			<div class="content_wrap">
				<div class="columns_wrap">
					<div class="contact_logo column-1_4">
						<div class="logo">
							<a href="{% url 'index' %}">
								<img alt="" class="logo_main" height="74" src="{% static 'images/logo.png' %}" width="121">
							</a>
						</div>
					</div>
					<div class="menu_main_wrap column-3_4">
						<div class="search_wrap search_style_fullscreen search_state_closed top_panel_icon">
							<div class="search_form_wrap">
								<form action="index.html" class="search_form" method="get" role="search">
									<button class="search_submit icon-search" title="Open search" type="submit"></button>
									<input class="search_field" name="s" placeholder="Search" type="text" value="">
									<a class="search_close icon-cancel"></a>
								</form>
							</div>
						</div>
						<nav class="menu_main_nav_area menu_hover_fade">
							<ul id="menu_main" class="menu_main_nav">
								<li class="menu-item menu-item-has-children"><a href="{% url 'all_shop'%}"><span>Category</span></a>
									<ul class="sub-menu">
										{% for category in categories %}
										<li class="menu-item current-menu-item current_page_item"><a href="{% url 'shop' category.slug %}"><span>{{ category.name }}</span></a></li>
										{% endfor %}
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a href="#"><span>Brand</span></a>
									<ul class="sub-menu">
										{% for brand in brands %}
										<li class="menu-item current-menu-item current_page_item"><a href="{% url 'brand' brand.slug %}"><span>{{ brand.name }}</span></a></li>
										{% endfor %}
									</ul>
								</li>
								<li class="menu-item menu-item-has-children"><a><span>Pages</span></a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="#"><span>Our Services</span></a></li>
										<li class="menu-item"><a href="#"><span>Our Team</span></a></li>
										<li class="menu-item"><a href="#"><span>Expert&#8217;s Profile</span></a></li>
										<li class="menu-item"><a href="#"><span>Contact Us</span></a></li>
										<li class="menu-item"><a href="#"><span>FAQ’s</span></a></li>
										<li class="menu-item"><a href="#"><span>Page 404</span></a></li>
									</ul>
								</li>
								<li class="menu-item"><a href="{% url 'all_shop' %}"><span>Shop</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>