{% extends 'base.html' %}
{% block main %}
{% load static %}
<main id="content">
	<div class="top_panel_title top_panel_style_6  title_present navi_present breadcrumbs_present scheme_original">
		<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
			<div class="content_wrap">
				<div class="post_navi">
					<span class="post_navi_item post_navi_next">
						<a href="{% url 'single' product.slug %}" rel="next">{{ product.title }}</a>
					</span>
				</div>
				<div class="breadcrumbs">
					<a class="breadcrumbs_item home" href="{% url 'index' %}">Home</a>
					<span class="breadcrumbs_delimiter"></span>
					<a class="breadcrumbs_item all" href="{% url 'all_shop' %}">Shop</a>
					<span class="breadcrumbs_delimiter"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="page_content_wrap page_paddings_yes">
		<div class="content_wrap">
			<div class="content">
				<article class="post_item post_item_single post_item_product">
					<div class="product has-post-thumbnail first">
						<div class="images">
							<img width="600" height="600" src="{{ product.image.url }}" class="attachment-shop_single size-shop_single" alt="" title="TOY 3" />
							<img width="250" height="250" src="{{ product.images.all.1.image.url }}"/>
						</div>
						<div class="summary entry-summary">
							<h1 class="product_title entry-title">{{ product.title }}</h1>
							<div>
								<p class="price">
									<span class="woocommerce-Price-amount amount">
										<span class="woocommerce-Price-currencySymbol">&#36;</span>{{ product.price }}
									</span>
								</p>
							</div>
							<div>
								<p>
									{{ product.description }}
								</p>
							</div>
							<form class="cart" method="post" enctype='multipart/form-data'>
								<div class="quantity">
									<input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric" />
								</div>
								<input type="hidden" name="add-to-cart" value="263" />
								<button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
							</form>
							<div class="product_meta">
								<span class="posted_in">Categories:
									{% for category in product.category.all %}
										<a href="{% url 'shop' category.slug %}" rel="tag">{{ category }}</a>
									{% endfor %}
								</span>
								<span class="tagged_as">Tags:
									<a href="#" rel="tag">Best Sellers</a>,
								</span>
								<span class="product_id">Product ID:
									<span>263</span>
								</span>
							</div>
						</div>
						<div class="woocommerce-tabs wc-tabs-wrapper">
							<ul class="tabs wc-tabs">
								<li class="reviews_tab">
									<a href="#tab-reviews">Reviews (0)</a>
								</li>
							</ul>
						</div>
						<div class="related products">
							<h2>Related Products</h2>
							<ul class="products">
								{% for product in related_products %}
								<li class="product has-post-thumbnail column-1_4 first">
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="{% url 'single' product.slug %}">
													<img width="300" height="300" src="{{ product.image.url }}" class="attachment-shop_catalog size-shop_catalog" alt="" title="product_19" />
												</a>
											</div>
										</div>
										<div class="post_content">
											<h3>
												<a href="{% url 'single' product.slug %}">{{ product.title }}</a>
											</h3>
											<span class="price">
												<span class="woocommerce-Price-amount amount">
													<span class="woocommerce-Price-currencySymbol">&#36;</span>{{ product.price }}
												</span>
											</span>
											<a rel="nofollow" href="single-product.html" data-quantity="1" data-product_id="284" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</article>
			</div>
		</div>
	</div>
</main>
{% endblock main %}